* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  width: 100%;
  background: royalblue;
  color: #222;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.main {
  margin-bottom: auto;
}

.footer {
  width: 100%;
  background: #222;
  color: white;
  padding: 1.5rem;
}

.footer p {
  margin: 0;
}

.list {
  min-width: 9rem;
  transform: scale(1.2);
  list-style: none;
  padding: 0;
}

.list-item {
  display: flex;
  align-items: center;
  margin-block: .3rem;
}

.list-item svg {
  color: #555;
  transition: 200ms ease; 
  cursor: pointer;
}

.list-item svg:hover {
  color: crimson;
}

.list-item label {
  margin-right: auto;
}

/* AddItem styles */

.item-form label {
  position: absolute;
  left: -9000px;
}

.item-form {
  display: flex;
  width: min(90%, 20rem);
  justify-content: space-between;
  gap: .5rem;
  margin-bottom: 1rem;
}

.item-form input[type="text"] {
  flex-grow: 1;
  width: min(100%, 15rem);
  font-family: inherit;
  font-size: 1rem;

  padding: .5rem;
}

.item-form button {
  border: none;
  min-width: 3rem;
  background: royalblue;
  transition: background 150ms ease;
}

.item-form button:hover {
  background: hsl(220, 80%, 60%);
}

.item-form button:active {
  background: hsl(220, 80%, 45%);
}

.item-form svg {
  color: white;
  font-size: 1.2rem;
}

#search-input {
  width: 100%;
}

.error {
  color: crimson;
  font-weight: bold;
  font-size: 1.2rem;
}
